# Environment variables
.env
backend/.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# App temporary files & cache
backend/audio/
backend/cache/
backend/crash_log.txt

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
